.body {
 @apply w-[480px] h-[600px] rounded-xl relative font-[Inter] flex flex-col shadow-2xl transition-all;
 background-color: var(--bgColor);
}

.topDiv {
 @apply basis-1/2
}

.bottomDiv {
 @apply basis-1/2
}

.textDiv {
 @apply text-center mt-10;
 :first-child {
  @apply text-3xl font-semibold;
 }
 :last-child {
  @apply text-xl mt-5;
 }
 color: var(--textColor)
}

.btnDiv {
 @apply flex flex-col items-center justify-center gap-5 px-14 mt-5 ;
 :first-child {
  @apply h-12 w-full border-[0] rounded-lg text-white;
  background-color: var(--themeColor);
 }
 :last-child {
  @apply h-12 w-full border rounded-lg;
  border-color: var(--borderColor);
 }

}

.cancel {
 @apply absolute top-3 right-3 outline-none border-[0];
}
