.body {
  @apply w-[480px] h-[549px] rounded-xl fixed font-[Inter] p-10 flex flex-col shadow-2xl relative transition-all;
  background-color: var(--bgColor);
}

.textDiv {
  @apply text-center flex flex-col gap-4;
  :first-child {
    color: var(--themeColor);
  }
  :nth-child(2) {
    @apply text-3xl font-semibold;
  }
  :last-child {
    @apply text-xl;
  }
  :nth-child(2) , :last-child {
    color: var(--textColor);
  }

}


.optionDiv {
@apply mt-10 flex flex-col gap-10
}

.optionRound{
  @apply w-[23px] h-[23px] rounded-full relative border;
  &:hover {
    @apply outline outline-[2px];
    outline-color: var(--themeColor)
  }
  border-color: var(--borderColor);
}

.option {
  @apply flex gap-5
}

.optionTextDiv {
  :first-child {
    color: var(--textColor);
  }
  :last-child {
    @apply text-xs mt-1;
    color: var(--otherTextColor);
  }
}

.activeDiv {
  @apply w-1/2 h-1/2 rounded-full mx-auto;
  background-color: var(--themeColor);
}

.btnDiv {
  @apply flex w-full items-center mt-12 gap-5;
  :first-child, :last-child {
    @apply w-full h-12 rounded-lg border
  }
  :last-child {
    @apply text-white border-0;
    background-color: var(--themeColor);
  }
}

.cancel {
  @apply absolute top-3 right-3 outline-none border-[0];
}
