.body {
  @apply w-[480px] h-[466px] relative flex flex-col font-[Inter] p-10 rounded-xl shadow-2xl;
  background-color: var(--themeColor);
}

.svgDiv {
  @apply mx-auto mt-5;
  :first-child, :nth-child(2), :nth-child(3), :nth-child(4){
    fill: var(--textColor);
  }
}



.textDiv {
  @apply text-center mt-5;
  :first-child {
    @apply text-3xl font-bold;
  }
  :last-child {
    @apply text-lg mt-5 px-10;
  }
  color: var(--textColor);
}

.bottomDiv {
  @apply absolute bottom-0 right-0 w-full h-[64px] flex justify-center items-center bg-black text-white bg-opacity-10 text-xl rounded-b-xl;
  color:  var(--textColor);
}


.cancel {
  @apply absolute top-3 right-3 border-[0] outline-none;
}
