.body{
  @apply w-[480px] h-[584px] rounded-xl flex flex-col relative p-10 flex shadow-2xl transition-all;
  background-color: var(--bgColor);
}

.cancel {
  @apply absolute top-3 right-3 border-[0] outline-none;
}

.imgDiv {
  :first-child {
  @apply mx-auto;
  }
}

.textDiv {
  @apply text-center;
  :first-child {
    @apply text-3xl font-bold;
  }
  :last-child {
    @apply text-xl mt-5;
  }
  color: var(--textColor);
}

.inputDiv {
  @apply w-full flex flex-col justify-center items-center mt-5 gap-5;
  :first-child,{
    @apply h-12 w-full gap-5 rounded-lg placeholder-gray-600 font-normal border pl-6;
    border-color: var(--borderColor);
  }
}

.signDiv {
  @apply flex flex-col w-full items-center mx-auto w-full;
  :first-child{
    @apply rounded-lg h-12 border w-full mt-5 border-[0] text-white;
    background-color: var(--themeColor);
  }
}

.accountText {
  @apply text-sm mt-5;
  color: var(--otherTextColor);
  span {
    @apply underline;
  }
}

