.body {
  @apply w-[480px] h-[446px] rounded-xl font-[Inter] p-10 flex flex-col items-center shadow-2xl m-10 relative  transition-all;
  background-color: var(--bgColor);
}

.svgDiv {
  :first-child {
    fill: var(--svgColor);
  }
}

.textDiv {
  @apply mt-5;
  :first-child {
    @apply text-3xl font-semibold text-center;
  }
  :nth-child(2) {
    @apply text-xl text-center mt-5;
  }

  color: var(--textColor);

}

.inputDiv{
  @apply flex items-center w-full mt-8;
  :first-child {
    @apply border rounded-lg h-12 w-full placeholder-gray-600 pl-6;
    border-color: var(--borderColor);
  }
}

.btnDiv {
  @apply flex w-full gap-5 mt-5 ;
  :first-child{
    @apply h-12 w-full border rounded-lg;
    border-color: var(--borderColor);
  }

  :last-child {
    @apply h-12 w-full border-[0] rounded-lg text-white;
    background-color: var(--themeColor);
  }
}

.cancel {
  @apply absolute right-3 top-3 outline-none border-[0];
}
